@model Proyecto.Data.comunidad

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>comunidad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_creacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_creacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario.nombre_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario.nombre_usuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_comunidad }) |
    @Html.ActionLink("Back to List", "Index")
</p>
