@model IEnumerable<Proyecto.Data.comunidad>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            Posts
        </th>
        <th>
            Actions
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.nombre</td>
            <td>@item.descripcion</td>

            <td>
                @Html.ActionLink("Ver Posts", "Index", "post", new { comunidadId = item.id_comunidad }, null)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id_comunidad }) |
                @Html.ActionLink("Details", "Details", new { id = item.id_comunidad }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id_comunidad })
            </td>
        </tr>
    }

</table>
