@model Proyecto.Data.comentario

@{
    ViewBag.Title = "Crear Comentario";
    int postId = (int)ViewBag.PostId;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.Hidden("postId", postId)

    <div class="form-horizontal">

        <h4>Nuevo Comentario</h4>

        <div class="form-group">
            @Html.LabelFor(model => model.contenido)
            @Html.TextAreaFor(model => model.contenido, new { @class = "form-control", rows = 4 })
            @Html.ValidationMessageFor(model => model.contenido)
        </div>

        <input type="submit" value="Comentar" class="btn btn-primary" />
    </div>
}

@Html.ActionLink("Volver a comentarios", "Index", new { postId = postId })